// Breakpoints
$breakpoint-lg: 1000px;
$breakpoint-md: 768px;
$breakpoint-sm: 480px;

// Media Queries
$small:  "(min-width: #{$breakpoint-sm})";
$medium: "(min-width: #{$breakpoint-md})";
$large: "(min-width: #{$breakpoint-lg})";

// Grid Settings
$grid-columns: 12;
$max-content-width: 1200px;
